extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1= proj.project_name

        p= proj.description

      .project-tech-links-box.box
        h6 Technologies
        ul
          //- Loop through each technology and list it
          each tech of proj.technologies.split(',')
            li= tech

        //- Add project links
        - var live = proj.live_link;
        - var gitHub = proj.github_link;
        a.btn-link(href=`${live}`, target="_blank") Live Demo
        a.btn-link(href=`${gitHub}`) GitHub Repo

    .project-img-box.box
      //- Loop through each project image
      each image of proj.image_urls
        - var url = '/static/' + image;
        img.project-img(src=url, alt=proj.description)

    nav.nav
      a(href='/')
        span &larr;
        |  Back
